{% extends 'layout.html'%}

{%block content %}


<h1 style="color: #000000;text-align:left;word-spacing: 20px">All UPLOADED FILES</h1>
 <legend class="border-bottom mb-4" style="font-family:comic sans ms; font-weight:bold"></legend>

    <form class="form-inline" method="POST" action="{{ url_for('test') }}">
      <div class="form-group">
        <div class="input-group">
          <ul>
              {% for pdf_name in pdf_names %}
                <div>
                    <li style="list-style:none !important;">

                        <input type="radio" name="comp_select" class="form-radio" style="padding: 12px;margin-right: 15px;margin-top: 15px" value="{{ pdf_name}}"></input>
                        <button type="button"   class="btn btn-primary btn-lg"  style="padding: 12px;width :600px;     box-shadow: 1px 1px rgb(31, 165, 226);
    " >{{ pdf_name }}</button>
                    </li>

                </div>
              {% endfor %}
          </ul>
        </div> </div>
        <br>
        <br>
        <button type="submit" class="btn btn-outline-info" style="margin-left:auto;margin-right:auto"> Start  Device Streaming!</button>
        <button type="submit" class="btn btn-outline-info" formaction="{{url_for('play')}}" style="margin-left:200px;margin-right:auto"> Start  Audio Streaming!</button>
        <button type="submit" class="btn btn-outline-info" formaction="{{url_for('stop')}}" style="margin-left:200px;margin-right:auto"> Stop  Audio Streaming!</button>
    </form>


<style>
    .form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
}

</style>

{% endblock content %}
