

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icomoon.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles-merged.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.min.css') }}">

    <!--[if lt IE 9]>
    <script src="{{url_for('static', filename='html5shiv.min.js')}}"></script>
    <script src="{{url_for('static', filename='respond.min.js')}}"></script>

    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar" style="background: black;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('home') }}">Home</a></li>

            <li><a href="{{url_for('upload')}}">Upload</a></li>
            {% if current_user.is_authenticated%}
              <li class="probootstra-cta-button"><a href="{{url_for('logout')}}" class="btn" >Logout</a></li>
            {% else %}
              <li class="probootstra-cta-button"><a href="{{url_for('login')}}" class="btn" >Login</a></li>
              <li class="probootstra-cta-button"><a href="{{url_for('register')}}" class="btn" >Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <section class="flexslider">
      <ul class="slides">
       <li style="background-image: url({{ url_for('static', filename='img/b2.jpg') }})" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading"><b>B</b>LIND<b>R</b>EADER</h1>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url({{ url_for('static', filename='img/slider_1.jpg') }})" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading">LEARNING NEW THINGS</h1>
                </div>
              </div>
            </div>
          </div>

        </li>
        <li style="background-image: url({{ url_for('static', filename='img/slider_2.png') }})" class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading">MAKE IT EASIER FOR LIFE</h1>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </section>
    <section class="probootstrap-section probootstrap-bg-white probootstrap-zindex-above-showcase">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate" data-animate-effect="fadeIn">
            <h2>Our Technology</h2>
          </div>
        </div>
        <!-- END row -->
        <div class="row probootstrap-gutter60">
          <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
            <div class="service hover_service text-center">
              <div class="icon"><i class="icon-mobile3"></i></div>
              <div class="text">
                <h3>UPLOAD PDF</h3>
                <p>convert the pdf to text and live stream to device</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
            <div class="service hover_service text-center">
              <div class="icon"><i class="icon-presentation"></i></div>
              <div class="text">
                <h3>AUDIO BOOKS</h3>
                <p>Upload any books and live stream audio</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
            <div class="service hover_service text-center">
              <div class="icon"><i class="icon-circle-compass"></i></div>
              <div class="text">
                <h3>BEGINNER EDUCATION</h3>
                <p>Portal for teachers and students to build beginner to advanced education</p>
              </div>
            </div>
          </div>



        <!-- END row -->
        <div class="row mt50">
          <div class="col-md-12 text-center">
            <a href="services.html" class="btn btn-primary btn-lg" role="button">View all our services</a>
          </div>
        </div>
      </div>

      </div>
    </section>
    <!--<section class="probootstrap-section">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="service left-icon probootstrap-animate" data-animate-effect="fadeInLeft">-->
              <!--<div class="icon"><i class="icon-mobile3"></i></div>-->
              <!--<div class="text">-->
                <!--<h3>Responsive Design</h3>-->
                <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit iusto provident.</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="service left-icon probootstrap-animate" data-animate-effect="fadeInLeft">-->
              <!--<div class="icon"><i class="icon-presentation"></i></div>-->
              <!--<div class="text">-->
                <!--<h3>Business Solutions</h3>-->
                <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit iusto provident.</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="service left-icon probootstrap-animate" data-animate-effect="fadeInLeft">-->
              <!--<div class="icon"><i class="icon-circle-compass"></i></div>-->
              <!--<div class="text">-->
                <!--<h3>Brand Identity</h3>-->
                <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit iusto provident.</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<div class="service left-icon probootstrap-animate" data-animate-effect="fadeInLeft">-->
              <!--<div class="icon"><i class="icon-lightbulb"></i></div>-->
              <!--<div class="text">-->
                <!--<h3>Creative Ideas</h3>-->
                <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="service left-icon probootstrap-animate" data-animate-effect="fadeInLeft">-->
              <!--<div class="icon"><i class="icon-magnifying-glass2"></i></div>-->
              <!--<div class="text">-->
                <!--<h3>Search Engine Friendly</h3>-->
                <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="service left-icon probootstrap-animate" data-animate-effect="fadeInLeft">-->
              <!--<div class="icon"><i class="icon-browser2"></i></div>-->
              <!--<div class="text">-->
                <!--<h3>Easy Customization</h3>-->
                <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; END row &ndash;&gt;-->
      <!--</div>-->
    <!--</section>-->







    <script src="{{url_for('static', filename='scripts.min.js')}}"></script>
    <script src="{{url_for('static', filename='custom.min.js')}}"></script>

  </body>
</html>