

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icomoon.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles-merged.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% block head %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="{{url_for('static', filename='html5shiv.min.js')}}"></script>
    <script src="{{url_for('static', filename='respond.min.js')}}"></script>


    <![endif]-->

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar" style="background: black;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a  class="navbar-brand" href="{{ url_for('home') }}" ></a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('home') }}">Home</a></li>

            <li><a href="{{url_for('upload')}}">Upload</a></li>
            {% if current_user.is_authenticated%}
              <li><a href="url_for('allfiles')}}">MyFiles</a></li>
              <li class="probootstra-cta-button"><a href="{{url_for('logout')}}" class="btn" >Logout</a></li>
            {% else %}
              <li class="probootstra-cta-button"><a href="{{url_for('login')}}" class="btn" >Login</a></li>
              <li class="probootstra-cta-button"><a href="{{url_for('register')}}" class="btn" >Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

        </div>
          {% block content %}{% endblock %}
    <br>
    <br>
    <br>
      </div>

    <script src="{{url_for('static', filename='scripts.min.js')}}"></script>
    <script src="{{url_for('static', filename='custom.min.js')}}"></script>
    </main>
  </body>
</html>
