
{% extends "layout.html" %}
{% block content %}

     <section class="probootstrap-section probootstrap-bg-white">
          <form method="POST" action="">
      <div class="container">
        <div class="row">
          <div class="col-md-5 probootstrap-animate" data-animate-effect="fadeIn">
            <legend class="border-bottom mb-4" style="font-family:comic sans ms; font-weight:bold">LOG IN</legend>
              {{form.hidden_tag()}}
                   <div class="form-group">
                      {{ form.email.label(class="form-control-label")}}
                       {% if form.email.errors  %}
                            {{ form.email(class="form-control form-control-lg is-invalid")}}
                              <div class="invalid-feedback">
                                  {% for error in form.email.errors %}
                                    <span>{{error}}</span>
                                  {% endfor %}
                              </div>
                           {% else  %}
                              {{ form.email(class="form-control form-control-lg")}}
                          {% endif %}


                  </div>
                  <div class="form-group">
                      {{ form.password.label(class="form-control-label")}}
                      {% if form.password.errors  %}
                            {{ form.password(class="form-control form-control-lg is-invalid")}}
                              <div class="invalid-feedback">
                                  {% for error in form.password.errors %}
                                    <span>{{error}}</span>
                                  {% endfor %}
                              </div>
                           {% else  %}
                              {{ form.password(class="form-control form-control-lg")}}
                          {% endif %}

                  </div>
                   <div class="form-check">
                      {{ form.remember(class="form-check-input") }}
                      {{ form.remember.label(class="form-check-label") }}


                  </div>

             <div class="form-group">
                 {{form.submit(class="btn btn-primary btn-lg")}}
             </div>
             <small class="text-muted ml-2">
                 <a href="#">Forgot Password?</a>

             </small>

     <div class="border-top pt-3">
         <small class="text-muted">
             Don't have an account? <a class="ml-2" href="{{url_for('register')}}">Sign Up</a>
         </small>

     </div>

          </div>
            

        </div>
        </div>
      </div>
         </form>
     </section>


{% endblock content %}