<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icomoon.css') }}" >

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles-merged.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.min.css') }}">

    <meta charset="UTF-8">
    {% if title %}
     <title>flask-{{title}}</title>
    {% else %}
    <title>UPLOAD</title>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/static/upload.js"></script>

</head>
<body>
 <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar" style="background: black;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}" >BlindReader</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('home') }}">Home</a></li>

            <li><a href="{{url_for('contact')}}">Contact</a></li>
            <li><a href="{{url_for('upload')}}">Upload</a></li>
            {% if current_user.is_authenticated%}
              <li><a href="{{url_for('allfiles')}}">MyFiles</a></li>
              <li class="probootstra-cta-button"><a href="{{url_for('logout')}}" class="btn" >Logout</a></li>
              <!--<li class="probootstra-cta-button"><a href="{{url_for('contact')}}" class="btn" >Contact Us</a></li>-->
            {% else %}
              <li class="probootstra-cta-button"><a href="{{url_for('login')}}" class="btn" >Login</a></li>
              <li class="probootstra-cta-button"><a href="{{url_for('register')}}" class="btn" >Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            <br>
            <br>
            <br>
            <br>
            <br>
            <fieldset class="form-group">
                <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class="form-group">
                    <legend class="border-bottom mb-4">UPLOAD FILES TO STREAM</legend>
                    <input id="file-picker" type="file" name="file" accept="application/pdf" multiple class="btn btn-outline-info" >
                    <br>
                    <br>

                    <div id="msg" class="form-control-label"></div>
                    <div class="progress">
                    <div id="progressBar" class="progress-bar" width="10" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                         0%
                     </div>
                </div>
                 <br>


                 <br>
                <input type="submit" value="Upload" name="upload-button" id="upload-button" class="btn btn-outline-info" size="10"><br>

                </form>
                  <div>
                <br>
              <a href="/allfiles">
                  <button class="btn btn-outline-info">Change to text</button>
                </a>

          </div>
            </fieldset>
        </div>



      </div>
    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
            if (ext == 'pdf')
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }
        }
    } );

</script>
</html>
